@import './assert/mixin';
@import './theme';
$bg :rgb(105, 184, 253);
$line:rgb(255, 255, 255);
*{
    box-sizing: border-box;
}
.loading {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $bg;
    .loading-con {
        position: fixed;
        width: fnrem(120px);
        height: fnrem(120px);
        left: 50%;
        top: 50%;
        margin-left: fnrem(-60px);
        margin-top: fnrem(-60px);
        overflow: hidden;
        .loading-one {
            position: absolute;
            top: fnrem(27px);
            left: fnrem(27px);
            width: fnrem(14px);
            overflow: hidden;
            span {
                display: block;
                width: fnrem(14px);
                height: fnrem(68px);
                background: $line;
                @include animation(loadingOne 5s linear infinite)
            }
        }
        .loading-two {
            @extend .loading-one;
            left: fnrem(53px);
            span {
                width: fnrem(14px);
                height: fnrem(45px);
                background: none;
                border-right: fnrem(14px) solid $line;
                border-top: 0 solid transparent;
                border-bottom: fnrem(14px) solid transparent;
                @include animation(loadingTwo 5s linear infinite)
            }
        }
        .loading-three {
            @extend .loading-one;
            left: fnrem(79px);
            span {
                width: fnrem(14px);
                height: fnrem(68px);
                background: none;
                border-right: fnrem(14px) solid $line;
                border-top: 0 solid transparent;
                border-bottom: fnrem(14px) solid transparent;
                @include animation(loadingThree 5s linear infinite)
            }
        }
        .loading-left {
            display: block;
            position: absolute;
            width: fnrem(15px);
            height: fnrem(105px);
            background: $line;
            left: 0;
            bottom: 0;
            border-bottom-left-radius: fnrem(19px);
            @include animation(loadingLeft 5s linear infinite)
        }
        .loading-top {
            display: block;
            position: absolute;
            width: fnrem(105px);
            height: fnrem(15px);
            background: $line;
            left: 0;
            top: 0;
            border-top-left-radius: fnrem(19px);
            @include animation(loadingTop 5s linear infinite)
        }
        .loading-right {
            display: block;
            position: absolute;
            width: fnrem(15px);
            height: fnrem(105px);
            background: $line;
            right: 0;
            top: 0;
            border-top-right-radius: fnrem(19px);
            @include animation(loadingRight 5s linear infinite)
        }
        .loading-bottom {
            display: block;
            position: absolute;
            width: fnrem(105px);
            height: fnrem(15px);
            background: $line;
            bottom: 0;
            right: 0;
            border-bottom-right-radius: fnrem(19px);
            @include animation(loadingBottom 5s linear infinite)
        }
    }
}

@keyframes loadingLeft {
    0% {
        transform: translate(0, 120%);
    }
    10% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(0, 120%);
    }
    100% {
        transform: translate(0, 120%);
    }
}

@-moz-keyframes loadingLeft
/* Firefox */

{
    0% {
        -moz-transform: translate(0, 120%);
    }
    10% {
        -moz-transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(0, 0);
    }
    60% {
        -moz-transform: translate(0, 120%);
    }
    100% {
        -moz-transform: translate(0, 120%);
    }
}

@-webkit-keyframes loadingLeft
/* Safari end Chrome */

{
    0% {
        -webkit-transform: translate(0, 120%);
    }
    10% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 0);
    }
    60% {
        -webkit-transform: translate(0, 120%);
    }
    100% {
        -webkit-transform: translate(0, 120%);
    }
}

@-o-keyframes loadingLeft
/* Opera */

{
    0% {
        -o-transform: translate(0, 120%);
    }
    10% {
        -o-transform: translate(0, 0);
    }
    50% {
        -o-transform: translate(0, 0);
    }
    60% {
        -o-transform: translate(0, 120%);
    }
    100% {
        -o-transform: translate(0, 120%);
    }
}

@keyframes loadingTop {
    0% {
        transform: translate(-120%, 0);
    }
    10% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(-120%, 0);
    }
    100% {
        transform: translate(-120%, 0);
    }
}

@-moz-keyframes loadingTop
/* Firefox */

{
    0% {
        -moz-transform: translate(-120%, 0);
    }
    10% {
        -moz-transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(0, 0);
    }
    60% {
        -moz-transform: translate(-120%, 0);
    }
    100% {
        -moz-transform: translate(-120%, 0);
    }
}

@-webkit-keyframes loadingTop
/* Safari end Chrome */

{
    0% {
        -webkit-transform: translate(-120%, 0);
    }
    10% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 0);
    }
    60% {
        -webkit-transform: translate(-120%, 0);
    }
    100% {
        -webkit-transform: translate(-120%, 0);
    }
}

@-o-keyframes loadingTop
/* Opera */

{
    0% {
        -o-transform: translate(-120%, 0);
    }
    10% {
        -o-transform: translate(0, 0);
    }
    50% {
        -o-transform: translate(0, 0);
    }
    60% {
        -o-transform: translate(-120%, 0);
    }
    100% {
        -o-transform: translate(-120%, 0);
    }
}

@keyframes loadingRight {
    0% {
        transform: translate(0, -120%);
    }
    10% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(0, -120%);
    }
    100% {
        transform: translate(0, -120%);
    }
}

@-moz-keyframes loadingRight
/* Firefox */

{
    0% {
        -moz-transform: translate(0, -120%);
    }
    10% {
        -moz-transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(0, 0);
    }
    60% {
        -moz-transform: translate(0, -120%);
    }
    100% {
        -moz-transform: translate(0, -120%);
    }
}

@-webkit-keyframes loadingRight
/* Safari end Chrome */

{
    0% {
        -webkit-transform: translate(0, -120%);
    }
    10% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 0);
    }
    60% {
        -webkit-transform: translate(0, -120%);
    }
    100% {
        -webkit-transform: translate(0, -120%);
    }
}

@-o-keyframes loadingRight
/* Opera */

{
    0% {
        -o-transform: translate(0, -120%);
    }
    10% {
        -o-transform: translate(0, 0);
    }
    50% {
        -o-transform: translate(0, 0);
    }
    60% {
        -o-transform: translate(0, -120%);
    }
    100% {
        -o-transform: translate(0, -120%);
    }
}

@keyframes loadingBottom {
    0% {
        transform: translate(120%, 0);
    }
    10% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(120%, 0);
    }
    100% {
        transform: translate(120%, 0);
    }
}

@-moz-keyframes loadingBottom
/* Firefox */

{
    0% {
        -moz-transform: translate(120%, 0);
    }
    10% {
        -moz-transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(0, 0);
    }
    60% {
        -moz-transform: translate(120%, 0);
    }
    100% {
        -moz-transform: translate(120%, 0);
    }
}

@-webkit-keyframes loadingBottom
/* Safari end Chrome */

{
    0% {
        -webkit-transform: translate(120%, 0);
    }
    10% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 0);
    }
    60% {
        -webkit-transform: translate(120%, 0);
    }
    100% {
        -webkit-transform: translate(120%, 0);
    }
}

@-o-keyframes loadingBottom
/* Opera */

{
    0% {
        -o-transform: translate(120%, 0);
    }
    10% {
        -o-transform: translate(0, 0);
    }
    50% {
        -o-transform: translate(0, 0);
    }
    60% {
        -o-transform: translate(120%, 0);
    }
    100% {
        -o-transform: translate(120%, 0);
    }
}

@keyframes loadingOne {
    0% {
        transform: translate(0, -100%);
    }
    10% {
        transform: translate(0, -100%);
    }
    20% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, -100%);
    }
}

@-moz-keyframes loadingOne
/* Firefox */

{
    0% {
        -moz-transform: translate(0, -100%);
    }
    10% {
        -moz-transform: translate(0, -100%);
    }
    20% {
        -moz-transform: translate(0, 0);
    }
    60% {
        -moz-transform: translate(0, 0);
    }
    70% {
        -moz-transform: translate(0, -100%);
    }
    100% {
        -moz-transform: translate(0, -100%);
    }
}

@-webkit-keyframes loadingOne
/* Safari end Chrome */

{
    0% {
        -webkit-transform: translate(0, -100%);
    }
    10% {
        -webkit-transform: translate(0, -100%);
    }
    20% {
        -webkit-transform: translate(0, 0);
    }
    60% {
        -webkit-transform: translate(0, 0);
    }
    70% {
        -webkit-transform: translate(0, -100%);
    }
    100% {
        -webkit-transform: translate(0, -100%);
    }
}

@-o-keyframes loadingOne
/* Opera */

{
    0% {
        -o-transform: translate(0, -100%);
    }
    10% {
        -o-transform: translate(0, -100%);
    }
    20% {
        -o-transform: translate(0, 0);
    }
    60% {
        -o-transform: translate(0, 0);
    }
    70% {
        -o-transform: translate(0, -100%);
    }
    100% {
        -o-transform: translate(0, -100%);
    }
}

@keyframes loadingTwo {
    0% {
        transform: translate(0, -100%);
    }
    20% {
        transform: translate(0, -100%);
    }
    30% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, -100%);
    }
}

@-moz-keyframes loadingTwo
/* Firefox */

{
    0% {
        -moz-transform: translate(0, -100%);
    }
    20% {
        -moz-transform: translate(0, -100%);
    }
    30% {
        -moz-transform: translate(0, 0);
    }
    70% {
        -moz-transform: translate(0, 0);
    }
    80% {
        -moz-transform: translate(0, -100%);
    }
    100% {
        -moz-transform: translate(0, -100%);
    }
}

@-webkit-keyframes loadingTwo
/* Safari end Chrome */

{
    0% {
        -webkit-transform: translate(0, -100%);
    }
    20% {
        -webkit-transform: translate(0, -100%);
    }
    30% {
        -webkit-transform: translate(0, 0);
    }
    70% {
        -webkit-transform: translate(0, 0);
    }
    80% {
        -webkit-transform: translate(0, -100%);
    }
    100% {
        -webkit-transform: translate(0, -100%);
    }
}

@-o-keyframes loadingTwo
/* Opera */

{
    0% {
        -o-transform: translate(0, -100%);
    }
    20% {
        -o-transform: translate(0, -100%);
    }
    30% {
        -o-transform: translate(0, 0);
    }
    70% {
        -o-transform: translate(0, 0);
    }
    80% {
        -o-transform: translate(0, -100%);
    }
    100% {
        -o-transform: translate(0, -100%);
    }
}

@keyframes loadingThree {
    0% {
        transform: translate(0, -100%);
    }
    30% {
        transform: translate(0, -100%);
    }
    40% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(0, 0);
    }
    90% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, -100%);
    }
}

@-moz-keyframes loadingThree
/* Firefox */

{
    0% {
        -moz-transform: translate(0, -100%);
    }
    30% {
        -moz-transform: translate(0, -100%);
    }
    40% {
        -moz-transform: translate(0, 0);
    }
    80% {
        -moz-transform: translate(0, 0);
    }
    90% {
        -moz-transform: translate(0, -100%);
    }
    100% {
        -moz-transform: translate(0, -100%);
    }
}

@-webkit-keyframes loadingThree
/* Safari end Chrome */

{
    0% {
        -webkit-transform: translate(0, -100%);
    }
    30% {
        -webkit-transform: translate(0, -100%);
    }
    40% {
        -webkit-transform: translate(0, 0);
    }
    80% {
        -webkit-transform: translate(0, 0);
    }
    90% {
        -webkit-transform: translate(0, -100%);
    }
    100% {
        -webkit-transform: translate(0, -100%);
    }
}

@-o-keyframes loadingThree
/* Opera */

{
    0% {
        -o-transform: translate(0, -100%);
    }
    30% {
        -o-transform: translate(0, -100%);
    }
    40% {
        -o-transform: translate(0, 0);
    }
    80% {
        -o-transform: translate(0, 0);
    }
    90% {
        -o-transform: translate(0, -100%);
    }
    100% {
        -o-transform: translate(0, -100%);
    }
}