  // 单色
  .skin-red {
      &.loading {
          background: #B03060;
      }
  }

  .skin-orange {
      &.loading {
          background: #FE9A76;
      }
  }

  .skin-yellow {
      &.loading {
          background: #FFD700;
      }
  }

  .skin-green {
      &.loading {
          background: #016936;
      }
  }

  .skin-blue {
      &.loading {
          background: #0E6EB8;
      }
  }

  .skin-grey {
      &.loading {
          background: #afafaf;
      }
  }

  .skin-black {
      &.loading {
          background: #000000;
      }
  }

  .skin-white {
      &.loading {
          background: #ffffff;
          .loading-con {
              .loading-one {
                  span {
                      background: #f7941e;
                  }
              }
              .loading-two {
                  span {
                      border-right: fnrem(14px) solid #f7941e;
                  }
              }
              .loading-three {
                  span {
                      border-right: fnrem(14px) solid #f7941e;
                  }
              }
              .loading-left {
                  background: #f7941e;
              }
              .loading-top {
                  background: #f7941e;
              }
              .loading-right {
                  background: #f7941e;
              }
              .loading-bottom {
                  background: #f7941e;
              }
          }
      }
  } // 透明度
  @for $i from 1 through 9 {
      .skin-red-#{$i} {
          &.loading {
              background: rgba(176, 48, 97, $i/10);
          }
      }
      .skin-orange-#{$i} {
          &.loading {
              background: rgba(254, 152, 118, $i/10);
          }
      }
      .skin-yellow-#{$i} {
          &.loading {
              background: rgba(255, 213, 0, $i/10);
          }
      }
      .skin-green-#{$i} {
          &.loading {
              background: rgba(255, 255, 255, $i/10);
          }
      }
      .skin-blue-#{$i} {
          &.loading {
              background: rgba(14, 110, 184, $i/10);
          }
      }
      .skin-grey-#{$i} {
          &.loading {
              background: rgba(175, 175, 175, $i/10);
          }
      }
      .skin-black-#{$i} {
          &.loading {
              background: rgba(0, 0, 0, $i/10);
          }
      }
      .skin-white-#{$i} {
          &.loading {
              background: rgba(255, 255, 255, $i/10);
             .loading-con {
                .loading-one {
                    span {
                        background: #f7941e;
                    }
                }
                .loading-two {
                    span {
                        border-right: fnrem(14px) solid #f7941e;
                            background: none;
                    }
                }
                .loading-three {
                    span {
                        border-right: fnrem(14px) solid #f7941e;
                            background: none;
                    }
                }
                .loading-left {
                    background: #f7941e;
                }
                .loading-top {
                    background: #f7941e;
                }
                .loading-right {
                    background: #f7941e;
                }
                .loading-bottom {
                    background: #f7941e;
                }
            }
          }
      }
  }